body{
    background-color: #1a1a1a;
}

.wrapper{
    width: 100%;
    height: 4000px;
    left: 0;
    top: 0;
    position:absolute;
}

.p{
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
}

.gradiente{
    background-image: linear-gradient(360deg, #1A1A1A 45%, #1a1a1ab1 75%, #1a1a1a6c 95%, #1a1a1a00 100%);
    width:100%;
    height:1150px;
    position:absolute;
    right: 0;
    top: 156px;
}

.c1{
    position: absolute;
    width: 600px;
    height: 600px;
    left: -115px;
    top: -238px;
    background: #d40c3dc7;
    filter: blur(150px);
}

.c2{
    position: absolute;
    width: 600px;
    height: 600px;
    left: -259px;
    top: 618px;
    background: #d40c3e9a;
    filter: blur(200px);
}

.c3{
    position: absolute;
    width: 500px;
    height: 500px;
    right: 0px;
    top: 1431px;
    background: #d40c3e9a;
    filter: blur(250px);
}

.c4{
    position: absolute;
    width: 600px;
    height: 600px;
    left: -276px;
    top: 2095px;
    background: #d40c3e9a;
    filter: blur(200px);
}

.c5{
    position: absolute;
    width: 500px;
    height: 500px;
    right: 0px;
    top: 3064px;
    background: #d40c3e9a;
    filter: blur(250px);
}

#t1{
    position: absolute;
    width: 400px; 
    left: 0px;
    top: 442px;
}

#t2{
    position: absolute;
    width: 200px; 
    right: 0px;
    top: 1380px;
}

#t3{
    position: absolute;
    width: 175px; 
    left: 0px;
    top: 2040px;
}

#t4{
    position: absolute;
    width: 250px; 
    right: 0;
    top: 2950px;
}

.rodape{
    position: absolute;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 520px;
    bottom: 0;
    background: #000000;
    box-shadow: 0px -10px 20px #00000040;
}

.titulo{
    position: absolute;
    width: 952px;
    height: 320px;
    left: 20%;
    top: 65px;
    font-family: 'Fraunces';
    font-size: 160px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}

.pobreza{
    color: #D40C3D;
}

.obj1{
    position: absolute;
    left: 250px;
    top: 120px;
    font-family: 'Montserrat';
    font-size: 32px;
    color: #FFFFFF;
}

.nomes{
    position: absolute;
    width: 354px;
    height: 26px;
    right: -120px;
    top: 360px;
    font-family: 'Montserrat';
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

.ods{
    position: absolute;
    width: 618px;
    height: 60px;
    left: 32%;
    top: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

#onu{
    position: absolute;
    width: 100px;
    height: 85px;
    right: 104px;
    top: 1.5%;
}

#ccores{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 25%;
    top: 565px;
}

.r1{
    position: absolute;
    width: 667px;
    height: 65px;
    left: 32%;
    top: 585px;
    background: radial-gradient(163.5% 3813% at -7.29% -33%, #D40C3D 0%, #d40c3d00 100%);
    border-radius: 15px;
}

.st{
    position: absolute;
    left: 5%;
    top: 18%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    color: #FFFFFF;
}

.traco{
    position: absolute;
    width: 300px;
    height: 5px;
    left: 650px;
    top: 911px;
    background: #FFFFFF;
    box-shadow: 5px 10px 4px #000000;
}

.r2{
    position: absolute;
    width: 386px;
    height: 573px;
    left: 200px;
    top: 1245px;
    background: #D40C3D;
    border-radius: 20px;
}

#p3{
    position: absolute;
    height: 573px;
    left: 150px;
    top: 1200px;
    border-radius: 20px;
    filter: drop-shadow(20px 20px 4px #00000040);
}

.titulo2{
    position: absolute;
    left: 635px;
    top: 1080px;
    font-family: 'Fraunces';
    font-size: 65px;
    line-height: 160px;
    color: #FFFFFF;
    text-shadow: 10px 10px 4px #00000040;
}

.texto1{
    position: absolute;
    width: 850px;
    left: 635px;
    top: 1200px;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 37px;
    text-indent: 20px;
    color: #FFFFFF;
}

.r3{
    position: absolute;
    width: 1300px;
    height: 700px;
    left: 15.5%;
    top: 2000px;    
    background: radial-gradient(122% 416% at -2.96% -3.2%, #d40c3e 0%, #d40c3d00 100%);
    border: 1px solid #D40C3D;
    border-radius: 20px;
}

#logo-ods{
    position: absolute;
    height: 460px;
    right: 3%;
    top: 16%;
}

.titulo3{
    position: absolute;
    left: 7%;
    top: 5%;
    font-family: 'Fraunces';
    font-size: 70px;
    color: #FFFFFF;
    text-shadow: 10px 10px 4px #00000040;
}

.texto2{
    position: absolute;
    width: 730px;
    left: 5%;
    top: 19%;
    font-family: 'Montserrat';
    font-size: 22px;
    line-height: 28px;
    text-indent: 20px;
    color: #FFFFFF;
}

.titulo4{
    position: absolute;
    left: 600px;
    top: 2780px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 10px 10px 4px #00000040;
}

.r4{
    position: absolute;
    width: 275px;
    height: 420px;
    left: 16%;
    top: 2950px;
    background: #D40C3D;
    border-radius: 20px;
}

.r5{
    position: absolute;
    width: 300px;
    height: 420px;
    left: 39%;
    top: 2950px;
    background: #D40C3D;
    border-radius: 20px;
}

.r6{
    position: absolute;
    width: 348px;
    height: 420px;
    left: 62%;
    top: 2950px;
    background: #D40C3D;
    border-radius: 20px;
}

.meta{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 48%;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

#p2{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    filter: drop-shadow(0px 10px 4px #00000040);
    border-radius: 20px;
}

.traco2{
    position: absolute;
    width: 1048px;
    height: 3px;
    left: 17%;
    bottom: 20%;
    background: #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

#icon1{
    position: absolute;
    height: 60px;
    left: 20%;
    bottom: 4%;
}

#icon2{
    position: absolute;
    height: 55px;
    left: 27%;
    bottom: 4.5%;
}

#icon3{
    position: absolute;
    height: 55px;
    left: 32%;
    bottom: 4.5%;
}

.titulo5{
    position: absolute;
    left: 20%;
    top: 10%;
    font-family: 'Fraunces';
    font-size: 50px;
    color: #FFFFFF;
}

.texto6{
    position: absolute;
    width: 330px;
    height: 260px;
    left: 20%;
    top: 30%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
}

.sm{
    position: absolute;
    right: 28%;
    top: 12%;
    font-family: 'Fraunces';
    font-size: 40px;
    color: #FFFFFF;
}

.links{
    position: absolute;
    height: 174px;
    left: 59.5%;
    top: 25%;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 40px;
}

a:link{
    color: #D40C3D;
    text-decoration: none;
}

a:visited{
    color: #D40C3D;
    text-decoration: none;
}